{% extends "comun/base.html" %} 
{% block content %}
<section>
  <div class="lightbox">
    <div class="row">
      <div class="col-lg-6">
        <img
        src="https://mdbcdn.b-cdn.net/img/Photos/Thumbnails/Slides/1.webp"
        data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Slides/1.webp"
        alt="Table Full of Spices"
        class="w-100 mb-2 mb-md-4 shadow-1-strong rounded"
        />
        <img
        src="https://mdbcdn.b-cdn.net/img/Photos/Thumbnails/Square/1.webp"
        data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Square/1.webp"
        alt="Coconut with Strawberries"
        class="w-100 shadow-1-strong rounded"
        />
      </div>
      <div class="col-lg-6">
        <img
        src="https://mdbcdn.b-cdn.net/img/Photos/Thumbnails/Vertical/1.webp"
        data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Vertical/1.webp"
        alt="Dark Roast Iced Coffee"
        class="w-100 shadow-1-strong rounded"
        />
      </div>
    </div>
  </div>
</section>
<section>
  <div>
    <h5 class="card-title">Nombre del emprendimiento</h5>
    <p class="card-text">Breve descripcion del emprendimiento</p>
    <p class="card-text">Descripcion del emprendedor</p>
  </div>
</section>
<section>
  <div>
    <h5>Lo que este lugar ofrece</h5>
    <p class="card-text">Piscina</p>
  </div>
</section>
<section>
  <h5>Reserva</h5>
  {{form}}
  <button>Reservar</button>
</section>
{% endblock %}
