{% extends "comun/base.html" %} 
{% block content %}
<section>
  {%for categoria in categorias%}
  <div>
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">Nombre del emprendimiento</h5>
          <p class="card-text">
            Breve descripcion del emprendimiento
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Horario de atencion</small>
          <small class="text-muted">Calificacion</small>
        </div>
      </div>
    </div>
  </div>
  {%endfor%}
</section>

{% endblock %}
